backports.zstd @ file:///D:/bld/bld/rattler-build_backports.zstd_1786861405/work
biopython @ file:///D:/bld/biopython_1666879378184/work
Brotli @ file:///D:/bld/brotli-split_1786622632121/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1784717589373/work/certifi
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1786835581063/work
click @ file:///D:/bld/bld/rattler-build_click_1783085395/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
contourpy @ file:///D:/bld/contourpy_1744743084386/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
docker-pycreds==0.4.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1788217352710/work
fonttools @ file:///D:/bld/fonttools_1778770296989/work
formulaic @ file:///home/conda/feedstock_root/build_artifacts/formulaic_1780453742147/work
freetype-py @ file:///home/conda/feedstock_root/build_artifacts/freetype-py_1650983368720/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1785325143698/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1735887193964/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_gitpython_1787936103/work
greenlet @ file:///D:/bld/bld/rattler-build_greenlet_1786384100/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1785796355/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1782283902770/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_idna_1787059857/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1661789389824/work
interface_meta @ file:///home/conda/feedstock_root/build_artifacts/interface_meta_1734284382083/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
kiwisolver @ file:///D:/bld/bld/rattler-build_kiwisolver_1787938453/work
lightning-utilities @ file:///home/conda/feedstock_root/build_artifacts/lightning-utilities_1772138211823/work
MarkupSafe @ file:///D:/bld/markupsafe_1772444962217/work
matplotlib==3.10.9
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1773661943568/work
munkres==1.1.4
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1787261063/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1712540363324/work
numpy @ file:///D:/bld/numpy_1707225570061/work/dist/numpy-1.26.4-cp310-cp310-win_amd64.whl#sha256=6761da75b1528684e6bf4dabdbdded9d1eb4d0e9b299482c7ce152cfb3155106
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1785888127/work
pandas @ file:///D:/bld/pandas_1715897730709/work
pathtools==0.1.2
patsy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_patsy_1788106018/work
pillow @ file:///D:/bld/bld/rattler-build_pillow_1782912129/work
promise @ file:///D:/bld/promise_1760363317524/work
protobuf @ file:///D:/bld/protobuf_1681049992963/work/python
psutil @ file:///D:/bld/bld/rattler-build_psutil_1788190001/work
pycairo==1.29.1
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
PySocks @ file:///D:/bld/pysocks_1733217287171/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytorch-lightning @ file:///home/conda/feedstock_root/build_artifacts/pytorch-lightning_1674870322049/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pytz_1785077087/work
PyYAML @ file:///D:/bld/pyyaml_1770223256606/work
reportlab @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_reportlab_1787251752/work
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1778851103/work
rlPyCairo @ file:///home/conda/feedstock_root/build_artifacts/rlpycairo_1756864152814/work
scipy @ file:///C:/bld/scipy-split_1716470344080/work/dist/scipy-1.13.1-cp310-cp310-win_amd64.whl#sha256=79dece58ad4a36a8781c303851d2a8396190d47b0490a33d6109d93bd1ca525f
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
sentry-sdk @ file:///home/conda/feedstock_root/build_artifacts/sentry-sdk_1787647803296/work
setproctitle @ file:///D:/bld/bld/rattler-build_setproctitle_1766684462/work
shortuuid @ file:///home/conda/feedstock_root/build_artifacts/shortuuid_1734272317000/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_smmap_1781021238/work
SQLAlchemy @ file:///D:/bld/bld/rattler-build_sqlalchemy_1786535215/work
statsmodels @ file:///D:/bld/bld/rattler-build_statsmodels_1788196466/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1771952241027/work
tensorboardX @ file:///home/conda/feedstock_root/build_artifacts/tensorboardx_1645578792360/work
torch==2.0.1+cu118
torch-scatter==2.1.2+pt20cu118
torchmetrics @ file:///home/conda/feedstock_root/build_artifacts/torchmetrics_1726295998187/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1722737464726/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1783002732/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1783704735836/work
unicodedata2 @ file:///D:/bld/unicodedata2_1770908984535/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1778188571305/work
wandb @ file:///home/conda/feedstock_root/build_artifacts/wandb_1659759599370/work
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
wrapt @ file:///D:/bld/bld/rattler-build_wrapt_1788174910/work
